<div class="new-form-container">
	<h1>Create a post!</h1>
	<form id="post-form" action="/posts" method="post">
		<input type="text" name="post[title]" placeholder="Title"><br>
		<textarea type="text" name="post[content]" rows="4" cols="50" placeholder="Post Content"></textarea><br>
		
		<input type="submit" value="Submit">
	</form>
</div>